apiVersion: v1
kind: Service
metadata:
  name: wordpress
spec:
  selector: { app: wordpress }
  ports:
  - port: 80
---
apiVersion: v1
kind: Service
metadata:
  name: mysql
spec:
  selector: { app: mysql }
  ports:
  - port: 3306
---
apiVersion: v1
kind: Service
metadata:
  name: nginx
spec:
  type: LoadBalancer
  selector: { app: nginx }
  ports:
  - port: 80
